@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050505;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #2563eb;
  color: white;
}

/* Animated background grid */

.hero-grid {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.035) 1px, transparent 1px);
  background-size: 50px 50px;
}

/* Glow */

.blue-glow {
  box-shadow:
    0 0 40px rgba(37, 99, 235, 0.25),
    0 0 100px rgba(37, 99, 235, 0.12);
}

/* Floating animation */

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.float-animation {
  animation: float 5s ease-in-out infinite;
}

/* Rotating border */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-border {
  animation: rotate 15s linear infinite;
}